@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-open-sans), sans-serif;
  --font-display: var(--font-montserrat), sans-serif;

  /* Primary Scale */
  --color-primary-400: var(--color-purple-400);
  --color-primary-500: var(--color-orange-500);

  /* Secondary Scale */
  --color-secondary-50: var(--color-orange-50);
  --color-secondary-100: var(--color-slate-100);
  --color-secondary-500: var(--color-orange-500);

  /* Accent Scale */
  --color-accent-300: var(--color-slate-300);
  --color-accent-600: var(--color-emerald-600);
}

body {
  background-color: var(--color-secondary-100);
  color: var(--color-slate-900);
}

a.auto-href::before {
  content: attr(href);
  color: color-mix(in srgb, var(--color-primary-400), black 20%);
  text-decoration: underline;
  cursor: pointer;
}